@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #092F4B;
  --foreground: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  @apply font-body text-base bg-primary;
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-display text-base;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .card {
    @apply px-8 py-10 bg-white text-black rounded-xl
  }

  .link {
    @apply inline-block relative after:content-[''] after:w-[0] after:h-[2px] after:absolute after:top-[115%] after:left-0 after:bg-white after:duration-300 hover:after:w-full [&:not(:hover)]:after:right-0 [&:not(:hover)]:after:left-auto
  }

  .btn {
    @apply inline-block py-2 px-4 bg-transparent text-secondary text-sm rounded-md border-2 border-secondary uppercase font-semibold hover:text-white hover:shadow-secondary hover:shadow-[inset_150px_0_0_0] transition-[color,box-shadow] duration-500
  }

  .section {
    @apply py-24
  }
}
